{{ define "main" }}
{{ $context := . }}

<section class="">
	<main class="">
		{{ range (sort .Pages ".Params.date_published" "desc") }}
		{{ partial "project-card" . }}
		{{ end }}
	</main>
</section>
{{ end }}
