<footer class="Site-footer"></footer>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity-hash@1/hash.js"></script>

<script type=module>
 import {{ "js/main.js" | relURL }}
</script>
