<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">

<title>{{ .Title }} - {{ .Site.Title }}</title>

{{ template "_internal/opengraph.html" . }}

<link rel="apple-touch-icon" sizes="180x180" href='{{ "/apple-touch-icon.png" | relURL }}'>
<link rel="icon" type="image/png" sizes="32x32" href='{{ "/favicon-32x32.png" | relURL }}'>
<link rel="icon" type="image/png" sizes="16x16" href='{{ "/favicon-16x16.png" | relURL }}'>
<link rel="manifest" href='{{ "/site.webmanifest" | relURL}}'>
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href='{{"css/index.css" | relURL}}'>
