/* a card of a painting */
.Card {
	display: flex;
	margin-bottom: 1rem;
}
.Card-link {
	text-decoration: none;
	display: flex;
}
.Card-link:focus {
	outline-offset: 0;
	outline-width: 0.2rem;
}
.Card-title {
	/* background-color: var(--color-background-home); */
	padding: 0 .5rem;
	margin-bottom: 0;
}
