/* homepage */
.Home {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Home-logo {
	position: fixed;
	z-index: 2;
	right: 1rem;
	bottom: 2rem;
	max-width: calc(var(--size) * 5);
	transform: scale(0.9);
	opacity: 0;
	transition: transform 1000ms var(--ease-exponential),
							900ms box-shadow ease-in-out,
							1000ms opacity ease-in-out;
}
.Site.is-fontLoaded .Home-logo {
	transform: scale(1);
	opacity: 1;
}
.Home-logo:hover {
	box-shadow: 0 0 2.1rem black;
}
.Home-logo:hover .Home-link {
	transform: rotate3d(0, 2, 0, -390deg);
}

.Home-link {
	padding: 2rem;
	display: flex;
	transition: 400ms transform ease-in-out, 300ms scale ease-in-out;
	transform: rotate3d(0, 0, 0, 0);
	outline-offset: 2rem;
}

.Home-message {
	position: absolute;
	top: 10vh;
	left: 5vw;
	padding: var(--size);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	transform: scale(0.98);
	transition: transform 500ms var(--ease-exponential);
}
.Site.is-fontLoaded .Home-message {
	transform: scale(1);
}
.Home-message p {
	/* background-color: var(--color-background-home); */
	padding: 0.2rem 0.5rem;
	margin-bottom: 0;
}
.Home-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.Home-gallery img {
	max-height: 5rem;
}
