/* box model */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* variables */
:root {
	--color-background: white;
	--color-background-light: lightgray;
	--color-background-home: white;
	--color-text: black;
	--color-text-off: gray;
	--color-link: var(--color-text);
	--color-link-hover: lightgray;
	--size: 2rem;
	--size-container: 70rem;
	--size-container-text: 50rem;
	--ease-exponential: cubic-bezier(1,0,0,1);
	--img-max-height: 95vh;
}

/* resets */
body {
	margin: 0;
}
h1, h2, h3, p, figure {
	margin-top: 0;
}

/* layout global defaults */
html,
body {
	height: 100%;
}

html {
	font-family: 'Quicksand', sans-serif;
	line-height: 1.6;
	font-size: 17px;
}
@media (min-width: 60rem) {
	html {
		font-size: 2vh;
	}
}

img {
	display: block;
}

figure {
	margin: 0;
}

/* typography */
a {
	color: var(--color-link);
}
a:hover
		button:hover {
	color: var(--color-link-hover);
}
a:focus,
button:focus{
	outline-width: 1px;
	outline-style: solid;
	outline-color: var(--color-link-hover);
	outline-offset: 0.1rem;
	text-decoration: none;
}
button {
	color: var(--color-text);
}
button:active {
	color: var(--color-text-off);
}
button[disabled] {
	color: var(--color-text-off);
}
img {
	display: block;
	max-width: 100%;
}
