/* site, root of layouting */
.Site {
	position: relative;
	display: flex;
	flex-direction: column;
	transition: opacity 150ms 200ms var(--ease-exponential);
}
@media (min-width: 60rem) {
	.Site {
		flex-direction: row;
	}
}

/* after loading fonts */
.Site {
	opacity: 0;
}
.Site.is-fontLoaded {
	opacity: 1;
}


/* site layout */

.Site-header {
	flex-grow: 1;
	flex-basis: 100%;
}
.Site-header.Site-header--home .Site-menu--nav {
	display: block;
}
@media (min-width: 60rem) {
	.Site-header {
		max-width: 17rem;
	}
	.Site-header.Site-header--home {
		max-width: none;
	}
}
.Site-main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.Site-featuredImage {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center center;
	background-size: cover;
	filter: blur(7px);
	transition: filter 450ms ease-in-out;
}
.Site.is-fontLoaded .Site-featuredImage {
	filter: blur(0);
}
