{{ define "main" }}
<article class="Project">
		<header class="Project-header">
				<h1 class="Project-title">
						<a href="{{ .Permalink }}">
								{{ .Title }}
						</a>
				</h1>
		</header>
		<main class="Project-main">
				{{ .Content }}
		</main>
</article>
{{ end }}
