{{ define "main" }}

{{ partial "link-section" . }}

<article class="Painting">
		<!-- <header class="Painting-header">
				 <h1 class="Painting-title">
				 <a href="{{ .Permalink }}">
				 {{ .Title }}
				 </a>
				 </h1>
				 </header> -->
		{{with .Params.gallery}}
		<aside class="Painting-gallery Gallery">
				{{range .}}
				<figure class="Gallery-slide">
						<aside class="Gallery-media">
								<img class="Gallery-image" src="{{.image | relURL}}"/>
						</aside>
				</figure>
				{{end}}
		</aside>
		<aside class="Painting-controls GalleryControls">
				{{range .}}
				<article class="GalleryControls-slide">
						<figcaption class="GalleryControls-meta">
								{{with .caption}}
								<div class="GalleryControls-caption">{{.}}</div>
								{{end}}
								{{with .description}}
								<div class="GalleryControls-description">
										{{. | markdownify}}
								</div>
								{{end}}
						</figcaption>
				</article>
				{{end}}
		</aside>
		{{end}}
		<main class="Painting-main">
				{{ .Content }}
		</main>
</article>
{{ end }}
